$navbar-default-bg: #312312;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

@import "bootstrap-sprockets";
@import "bootstrap";
@import "base";
@import "carts";
@import"charity";
@import "projects";



